.photo-card {
    transition: 0.3s;
    background-color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 0;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

    &:hover,
    &:focus {
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
        position:relative;
        z-index:999;
    }

    .card-title {
        font-weight: bold;
        border-bottom: 1px solid #ddd;
        padding-bottom: 0.5rem;
        margin-bottom: 0.3rem;
    }

    .card-text {
        color: #666;
    }
}