////////////////////////////////////////////////////////////////////////////
// ------------------------------- Global --------------------------------//
////////////////////////////////////////////////////////////////////////////

main {
    padding-top: 62px;
    position: relative;
}

footer {
    margin-top: 2em;
    border-top: 2px solid #eee;
    color: #aaa;
    font-size: 0.8em;
    text-align: center;
    padding: 0.5em;
}

.avatar {
    height: 45px;
    padding: 5px;
    border-radius: 50%;
}