////////////////////////////////////////////////////////////////////////////
// ------------------------------- Global --------------------------------//
////////////////////////////////////////////////////////////////////////////

.avatar {
    height: 45px;
    padding: 5px;
    border-radius: 50%;
}